.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container(style='background-color:#ffc145; color:#fff')
    a.navbar-brand(href='/')
      i.fas.fa-calendar-alt
      | CovWe: A Covid Vaccination Appointment System
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Start Here') ? 'active' : undefined)
          a.nav-link(href='/') Start Here
        li.nav-item(class=(title === '??') ? 'active' : undefined)
          a.nav-link(href='/portal') Portal



        //li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
          a.nav-link(href='/api') API Examples
        //li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
      //ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            div.dropdown-menu
              a.dropdown-item(href='/account') My Account
              div.dropdown-divider
              a.dropdown-item(href='/logout') Logout
