extends layout

block content
  .container 
    h4 Availability for November 21, 2021
  .container
    .row
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  8:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  8:45 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  9:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  9:45 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  10:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  10:30 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  5:15 p.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  6:15 p.m 
  br
  br
  .container 
    h4 Availability for November 22, 2021
  .container
    .row
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  8:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  8:45 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  9:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  9:45 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  10:15 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  10:30 a.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  5:15 p.m 
      .col-md-3
        a.card(a href='/booking')
          .card-header(style='color:#412234;background-color:#E2E2E2;border-radius:25px;padding-top:10px,padding-bottom:10px;text-align:center; font-family:Roboto')  6:15 p.m 
          