extends layout 

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Vaccine Registration

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-12 col-form-label font-weight-bold', for='name') Name
        .col-md-8
          input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus, required)
    .form-group.row
      label(class='col-md-12 col-form-label font-weight-bold', for='dateOfBirth') Date of Birth:
        .col-md-8
          input.form-control(type='date', name='dateOfBirth', id='dateOfBirth', autocomplete='dateOfBirth', autofocus, required)
    .form-group.row
      label(class='col-md-12 col-form-label font-weight-bold', for='healthCard') Health Card Number:
        .col-md-8
          input.form-control(type='text', name='dateOfBirth', id='healthCard', autocomplete='healthCard', autofocus, required)
    .form-group.row
      label(class='col-md-12 col-form-label font-weight-bold', for='occupation') Occupation
        .col-md-8
          input.form-control(type='text', name='occupation', id='occupation', autocomplete='occupation', autofocus, required)
    .form-group.row
      label(class= 'col-md-6 col-form-label font-weight-bold', for='vaccineName') Name of Vaccine
        .col-md-6
          input.form-control(type='text',name ='vaccineName', id ='vaccineName', autocomplete='vaccineName',autofocus,required)
    .form-group.row  
      label(class= 'col-md-4 col-form-label font-weight-bold', for='vaccineNum') How many Vaccine doses have you had? 
        .col-md-4
          input.form-control(type='number',name ='vaccineNum', id ='vaccineNum', autocomplete='vaccineNum',autofocus,required)
    .form-group.row
      label(class='col-md-8 col-form-label font-weight-bold', for='email') Best Email to send confirmation:
        .col-md-8
          input.form-control(type='email', name='email', id='email', autocomplete='email', required)
    br

    a.btn.btn-raised(a href='/confirmation')
      i.far.fa-envelope.fa-sm
      | Book Appointment