extends layout 

block content
  .container
    .jumbotron(style='background-color:#D2D7DF')
        h1 Your Appointment has been booked successfully!
        p.lead Please be sure to have your health card and email confirmation with you at the time of your appointment.
        p An email has been sent to you confirming the following appointment: 
        strong Name: 
        p Supriya Thukral 
        strong Appointment Time: 
        p 8:15 am
        strong Email: 
        p thukras@mcmaster.ca
        .container(style='text-align: center')
            a.btn.btn-raised(a href='/', role='button') Home »