extends layout

block content
  .container
    .jumbotron(style='background-color:#D2D7DF')
        h1 Employee Portal
        p.lead Province of Ontario Health Management System
    .row
      .col-md-12 
        .card(style='')
          .card-header(style ='background-color: #412234; color:#fff;text-align:center; font-family:Roboto')
            h2 Vaccine Clinic Bookings
          .card-body
            p View the current bookings for the Hamilton Vaccine Clinic.
            //p You can book a COVID-19 vaccination appointment for:
              li yourself
              li a family member, friend or someone whose medical care and appointments you manage 
            p
              a.btn.btn-raised(href='./booked', role='button') View Booked Patients »
            p 
                a.btn.btn-raised(href='./database', role='button') Register Walk-in appointment »
    .row       
      .col-md-4
        .card(style='')
          .card-header(style ='background-color: #412234; color:#fff;text-align:center; font-family:Roboto')
            h2(a href='./database', style ='text-align:center; font-family:Roboto') Family Physician Login
          .card-body
            p In an effort to standardize patient-physician interactions, this portal will allow physicians to view patient history with all past physicians.
            //p Vaccines available to adults
              li Pfizer: recommended for ages 18 – 24 to avoid myocarditis risks
              li Moderna
            p
                a.btn.btn-raised(href='./booked', role='button') Connect to Database »
            
      .col-md-4
        .card(style='')
          .card-header(style ='background-color: #412234; color:#fff;text-align:center; font-family:Roboto')
            h2(a href='./database', style ='text-align:center; font-family:Roboto') Specialty Physician Login
          .card-body 
            p In an effort to refer patients to the closest specialist in their area, this directory includes all referrals for specialty services.
            p (eg, Podiatrist, Dentist, Opthamologist, etc.)
            p View directory of specialists according to your location. 
            p
              a.btn.btn-raised(href='./database', role='button') View Directory »
            p
      .col-md-4
        .card(style='')
          .card-header(style ='background-color:#412234; color:#fff;text-align:center; font-family:Roboto')
            h2(a href='./database', style ='text-align:center; font-family:Roboto') Family Physician Look Up 
          .card-body 
            p In the case that your patients are experiencing a long wait time, please refer them to any other available family physicians in the area.
            p
              a.btn.btn-raised(href='./database', role='button') View Directory »
            p
  .jumbotron
    h2 Book Your Appointment
    p You are highly encouraged to book your appointment before going to any vaccine clinic. Last minute vaccination appointments are available for select vaccine clinics.
    h3 What to expect at your vaccine appointment
    p For those who have registered their vaccine appointment beforehand, you can expect to spend about 20 minutes at the clinic. All clinics may not necessarily cater to walk-in appointments.
    p At your appointment, be sure to have your health card ready to make the process as quick as possible. You are expected to review all registration details at the time of booking.
    p You may get vaccinated anywhere in your province.
    p 
      strong If you opt for a walk-in, please allow for some time to register you into the system.

    .container(style='text-align: center')
      a.btn.btn-raised(a href='/appointments', role='button') Book Your Appointment »
      //p
        a.btn.btn-raised(href='./motivation', role='button') Motivation »  
    //.col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    //.col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    //.col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »